@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.login-btn{
    padding: 8px 20px;
     border-radius: 5px;
     color: #ffffff;
     background-color: #E76F51;
     border: none;
     
     
}

.intro-part{
    background-color: #264653;
    width: 100%;
}

.intro-text p{
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.intro-text h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.intro-btn{
    background-color: #E76F51;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

/* 2nd part */

.fetured-text h1{
    font-size: 48px;
    font-weight: 600;
}

.fetured-text p{
    color:  #E76F51;
    font-size: 14px;
    font-weight: 600;
}


.fetured-img img{
    width: 288px;
    filter:  grayscale(100%);
        transition: 0.3s ease-in-out;
}

.feture-img img{
    width: 288px;
}


.feture-img img{
    width: 288px;
}

 /* latest news  */

 .latest-text{
     font-size: 48px;
     font-weight: 600;
     margin-top: 100px;
 }

 .card-title{
     font-size: 28px;
     font-weight: 600;
 }

 .card-text{
     color: #5c5c5c;
 }

 .read-btn{
     padding: 8px 20px;
     border-radius: 5px;
     
     color: #E76F51;
     border: 1px solid #E76F51;
     transition: 0.5s;
     background: transparent;
 }

 .read-btn:hover{
    background-color: #E76F51;
    color: white;
 }

 /* clint-part */
 .client-text{
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
 }

 .client-text span{
     color: #E76F51;
 }

 .imgBox img{
     width: 50%;
     border-radius: 50%;
     
 }

 .review h4{
     font-size: 14px;
     color: #23A6F0;
 }

 .icon{
     color: #E77C40;
 }

 .icons{
    color:  #E77C40;
 }

 .box{
     border: 2px solid rgb(238, 237, 237);
 }

 .freq-img img{
     width: 431px;
 }

 .freq-part{
     margin-top: 100px;
 }

 .accor{
     border: 2px solid rgb(209, 207, 207);
  }

  .freq-text{
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
  }

  .freq-text span{
    color: #E76F51;
  }

  .brand{
      margin-top: 100px;
  }

  .brand-text{
      font-size: 50px;
      font-weight: 800;
  }

  .brand-text span{
      font-size: 60px;
      font-weight: bold;
      color: #E76F51;
  }

  .suzuki-text {
      margin-top: 120px;
  }

  .suzuki-text p{
    font-size: 30px;
    font-weight: 700;
  }

  .suzuki-text h2{
      font-size: 50px;
      font-weight: bold;
  }

  .suzuki-text span{
      font-size: 60px;
      font-weight: bold;
      color: #E76F51;
  }

  .bike{
      position: relative;
      overflow: hidden;
  }

  .bike::before{
      position: absolute;
      content: "";
      width: 80%;
      height: 220%;
      background: rgba(235, 53, 131, 0.7);
      top: -50%;
      left: -100%;
      z-index: 1;
      transform: rotate(25deg);
      transform-origin: center top 0;
      transition: 0.5;
    }

    .bike:hover::before{
        left: 10%;
    }

    .bike img{
        width: 100%;

    }

    .bike-text{
        width: 100%;
        padding: 0, 20px;
        position: absolute;
        top: 100%;
        color: #fff;
        left: 0;
        z-index: 2;
        transition: 1.1s;
    }

    .bike:hover .bike-text{
        top: 80px;
    }

    footer{
        background-color: black;

    }
 



